$light: #fff;
$primary-color: #0A1D6C;
$secondary-color: #EC8305;
$tertiary-color: #9d5804;
$black: #212529;
$black-light: #6c757d;
$black-lighter: #888;
$border-color:#eee;
$black-hover:rgb(35, 34, 34);

// $primary-font: 'Muli', sans-serif;
// $secondary-font:'Muli', sans-serif;

// $primary-font: 'Lato';
// $secondary-font: 'Merriweather';


// $primary-font: 'Poppins', sans-serif;
// $secondary-font: 'Merriweather', serif;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// $primary-font: 'Lato', sans-serif;
// $secondary-font: 'Raleway', sans-serif;


// $primary-font: 'Oswald', sans-serif;
// $secondary-font: 'Nunito', sans-serif;

// $primary-font: 'Work Sans', sans-serif;
// $secondary-font: 'PT Sans', sans-serif;