<section id="about" class="section about-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <h2 class="section-title">About Tarko</h2>
                    <p>Tarko, a family-based partnership, has quickly grown into
                        a leading manufacturer. Strategically located near Nagpur on the Nagpur-Hyderabad highway, our
                        mission is to deliver the highest standard of products and services. Our focus on innovation,
                        using the finest raw materials and advanced machinery, ensures top-notch finishing, tearing
                        strength, and load-bearing capacity in our products.</p>
                </div>
            </div>
        </div>
</section>