<div class="section">
  <p class="section-title text-center ">
    Trusted by more than 100+ Happy Clients
  </p>
  <div class="logos">
    <div class="logo_items">
      <img src="images/client/Frame 1.png">
      <img src="images/client/Frame 2.png">
      <img src="images/client/Frame 3.png">
      <img src="images/client/Frame 4.png">
      <img src="images/client/Frame 5.png">
      <img src="images/client/Frame 6.png">
      <img src="images/client/Frame 7.png">
      <img src="images/client/Frame 8.png">
      <img src="images/client/Frame 9.png">
      <img src="images/client/Frame 10.png">
      <img src="images/client/Frame 11.png">
      <img src="images/client/Frame 12.png">
      <img src="images/client/Frame 13.png">
      <img src="images/client/Frame 14.png">

      <!-- repeat -->
      <img src="images/client/Frame 1.png">
      <img src="images/client/Frame 2.png">
      <img src="images/client/Frame 3.png">
      <img src="images/client/Frame 4.png">
      <img src="images/client/Frame 5.png">
      <img src="images/client/Frame 6.png">
      <img src="images/client/Frame 7.png">
      <img src="images/client/Frame 8.png">
      <img src="images/client/Frame 9.png">
      <img src="images/client/Frame 10.png">
      <img src="images/client/Frame 11.png">
      <img src="images/client/Frame 12.png">
      <img src="images/client/Frame 13.png">
      <img src="images/client/Frame 14.png">
    </div>
  </div>
</div>