  <!-- SECTIONS
    ================================================== -->
    <section id="contact-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="row justify-content-center contact-links">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="contact-info-block text-center">
                            <i class="pe-7s-map-marker"></i>
                            <h4>Address</h4>
                            <p class="lead">
                                <a href="https://www.google.com/maps/place/Sakhi+Industries+(TARKO)/@21.1122476,78.9950842,17z/data=!3m1!4b1!4m6!3m5!1s0x3bd4ea9712660f91:0x73dc81d95bba124d!8m2!3d21.1122476!4d78.9976591!16s%2Fg%2F11cn0wn4jz?entry=ttu&g_ep=EgoyMDI0MTAxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                                    J9,10,11/1, near PIX transmission, Midc, Hingna, Nagpur - 440016
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="contact-info-block text-center">
                            <i class="pe-7s-mail"></i>
                            <h4>Email</h4>
                            <p class="lead">
                                <a href="mailto:info@sakhiindustries.in">
                                    info@sakhiindustries.in
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="contact-info-block text-center">
                            <i class="pe-7s-phone"></i>
                            <h4>Phone Number</h4>
                            <p class="lead">
                                <a href="tel:+919850066233">
                                    +91-9850066233
                                </a><br>
                                <!-- <a href="tel:+919552041830" style="text-decoration: none; color: inherit;">
                                    +91-9552041830
                                </a> -->
                            </p>
                        </div>
                    </div>
                </div>
                
        </div>
    </section>

    <section class="section" id="contact">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-8 col-lg-6">
                    <h5>Leave a Message</h5>
                    <!-- Heading -->
                    <h2 class="section-title mb-2 ">
                        Tell us about <span class="font-weight-normal">yourself</span>
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 ">
                        Whether you have questions or you would just like to say hello, contact us.
                    </p>

                </div>
            </div> <!-- / .row -->

            <div class="row" id="contact">
                <div class="col-lg-6">
                   <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>
                    <!-- end message -->
                    <!-- Contacts Form -->
                    <form class="contact_form" action="mail.php">
                        <div class="row">
                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Your name
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input class="form-control" name="name" id="name" required="" placeholder="Ashish Sachdev" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Your email address
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" name="email" id="email" required="" placeholder="AshishSachdev@gmail.com" type="email">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <div class="w-100"></div>

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Subject
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input class="form-control" name="subject" id="subject" required="" placeholder="HDPE Pipes Query" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        Your Phone Number
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="phone" name="phone" required="" placeholder="9123456789" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <!-- Input -->
                        <div class="form-group mb-5">
                            <label class="h6 small d-block text-uppercase">
                                How can we help you?
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group">
                                <textarea class="form-control" rows="4" name="message" id="message" required="" placeholder="Hi there, I would like to ..."></textarea>
                            </div>
                        </div>
                        <!-- End Input -->

                        <div class="">
                           <input name="submit" type="submit" class="btn btn-primary btn-circled" value="Send Message">

                            <p class="small pt-3">We'll get back to you in 1-2 business days.</p>
                        </div>
                    </form>
                    <!-- End Contacts Form -->
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- START MAP -->
                    <iframe 
                      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1110.2591074018815!2d78.93083057186959!3d20.646174168097605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4ea9712660f91%3A0x73dc81d95bba124d!2sSakhi+Industries+(TARKO)!5e0!3m2!1sen!2sin!4v1727515302831!5m2!1sen!2sin"
                      width="100%" 
                      height="450" 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy" 
                      referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <!-- END MAP -->
                  </div>
            </div>
        </div>
    </section>