<section id="projects" class="section">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="single-project">
                    <img src="images\blog-lg-3.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div class="project-content-block">
                    <h4>Do you know who we are?</h4>
                    <h2>More than just service your products...</h2>
                    <p>Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
                        we will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
    </div>
</section>