<footer class="section " id="footer">
  <div class="overlay footer-overlay"></div>
  <!--Content -->
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-lg-4 col-sm-12">
        <div class="footer-widget">
          <!-- Brand -->
          <div class="row align-items-center">
            <a href="index.html" class="footer-brand text-white">
              Tarko
            </a>
            <div class="iso-container">
              <img src="images/iso-cert.png" alt="ISO certification" class="iso-certification" />
            </div>
            <h2 class="text-white">Tarko - A brand of Sakhi Industries</h2>
          </div>
          <p>Established in 2015 in Maharashtra, Sakhi Industries is a partnership-based firm involved in the manufacturing of HDPE Pipes, 
            Sprinkler Nozzles, HDPE Sprinkler Tees, and much more. Our products are widely acclaimed by a large clientele for their exclusive designs, 
            superior quality, and reliability. Furthermore, our ability to maintain timelines and quality in our assortment, provide cost-effective solutions, 
            and assure timely shipment of customer orders has positioned us among the top-notch companies in the industry.</p>
        </div>
      </div>

      <div class="col-lg-3 ml-lg-auto col-sm-12">
        <div class="footer-widget">
          <h3>Account</h3>
          <!-- Links -->
          <ul class="footer-links">
            <li>
              <a href="#!">
                Terms and conditions
              </a>
            </li>
            <li>
              <a href="#!">
                Privacy policy
              </a>
            </li>
            <li>
              <a href="#!">
                Affiliate services
              </a>
            </li>
            <li>
              <a href="#!">
                Help and support
              </a>
            </li>
            <li>
              <a href="#!">
                Frequently Asked Question
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
          <h3>About</h3>
          <!-- Links -->
          <ul class="footer-links">
            <li>
              <a href="about.html">
                About Us
              </a>
            </li>
            <li>
              <a href="products.html">
                Products
              </a>
            </li>
            <li>
              <a href="manufacturing.html">
                Infrastructure
              </a>
            </li>

            <li>
              <a href="contact.html">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
          <h3>Socials</h3>
          <!-- Links -->
          <ul class="list-unstyled footer-links">
            <!-- <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li> -->
            <li><a aria-label="Chat on WhatsApp" href="https://wa.me/9850066233"><i class="fab fa-whatsapp"></i>WhatsApp
              </a></li>
            <!-- <a href="https://www.twitter.com/themefisher"><i class="fab fa-twitter"></i>Twitter
               </a></li>
             <li><a href="https://www.pinterest.com/themefisher/"><i class="fab fa-pinterest-p"></i>Pinterest
               </a></li> -->
            <!-- <li><a href="https://www.linkedin.com/company/ganpati-woven-polypack/"><i
                  class="fab fa-linkedin"></i>linkedin
              </a></li> -->
            <!-- <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA"><i class="fab fa-youtube"></i>YouTube
               </a></li> -->
          </ul>
        </div>
      </div>
    </div> <!-- / .row -->


    <div class="row text-right pt-5">
      <div class="col-lg-12">
        <div class="overflow-hidden">
          <!-- Copyright -->
          <p class="footer-copy">
            Copyright &copy;
            <script>var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script>. Designed &amp; Developed by <a class="current-year" href="tel:9921939226">last Minute Corp.</a>
          </p>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>


<!--  Page Scroll to Top  -->

<a id="whatsapp-icon" class="whatsapp-icon js-scroll-trigger reveal" href="https://wa.me/9850066233">
  <img src="images/icon/whatsapp.png" alt="WhatsApp" class="img-fluid">
</a>

<a id="scroll-to-top" class="scroll-to-top js-scroll-trigger" href="#top-header">
  <i class="fa fa-angle-up"></i>
</a>