<section class="section">
  <p class="section-title text-center">Industries We Serve</p>
  <div class="industry-row">
    <div class="industry-item">
      <img src="images\industries\chemical.png" alt="Chemicals" />
      <p>Chemicals</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\foodgrai.png" alt="Food Grains" />
      <p>Food Grains</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\soya.png" alt="Soya Meal" />
      <p>Soya Meal</p>
    </div>
  </div>
  <div class="industry-row">
    <div class="industry-item">
      <img src="images\industries\cattlefeeds.png" alt="Cattle Feeds" />
      <p>Cattle Feeds</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\flour-mill.png" alt="Flour Mill" />
      <p>Flour Mill</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\poultry feeds.png" alt="Poultry Feeds" />
      <p>Poultry Feeds</p>
    </div>
  </div>
  <div class="industry-row">
    <div class="industry-item">
      <img src="images\industries\spices.png" alt="Spices" />
      <p>Spices</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\sugar.png" alt="Sugar" />
      <p>Sugar</p>
    </div>
    <div class="industry-item">
      <img src="images\industries\corn meal.png" alt="Corn Meal" />
      <p>Corn Meal</p>
    </div>
  </div>
</section>