<section class="section bg-grey" id="process">
    <div class="">

        <section id="projects" class="section-bottom">
            <div class="container-2">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                        <div class="single-project">
                            <img src="images\infrasturcture\bagcuttingsplittingmachine.jpg"
                                alt="Bag cutting splitting machine" class="img-fluid">
                            <div class="project-content">
                                <h4>Bag cutting splitting machine</h4>
                                <p>A Bag Cutting Splitting Machine automates the precise cutting and splitting of woven
                                    polypropylene bags, increasing efficiency and reducing manual labor in high-volume
                                    packaging operations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                        <div class="single-project">
                            <img src="images/infrasturcture/BOPPFLEXOMATCHINGMACHINE.jpg"
                                alt="BOPP Flexo Matching Machine" class="img-fluid">
                            <div class="project-content">
                                <h4>BOPP Flexo Matching Machine</h4>
                                <p>A BOPP Flexo Printing Machine is used for high-quality printing on BOPP film,
                                    ensuring vibrant and durable designs for packaging, enhancing product branding and
                                    visibility.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images\infrasturcture\flexographicprinting.jpg" alt="Flexographic printing"
                                class="img-fluid">
                            <div class="project-content">
                                <h4>Flexographic printing</h4>
                                <p>A Flexographic Printing Machine uses flexible plates to print on various packaging
                                    materials, providing fast, high-quality printing for large-scale production and
                                    diverse applications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images\infrasturcture\Navranglaminationplant.jpg" alt="Navrang lamination plant"
                                class="img-fluid">
                            <div class="project-content">
                                <h4>Navrang lamination plant</h4>
                                <p>A Navrang Lamination Plant applies protective layers to packaging materials,
                                    enhancing durability and appearance, while ensuring resistance to moisture and
                                    environmental factors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images/infrasturcture/lohialooms.jpg" alt="Lohia Looms" class="img-fluid">
                            <div class="project-content">
                                <h4>Lohia Looms</h4>
                                <p>Lohia Looms are used to weave polypropylene fabrics for packaging, offering
                                    high-speed production and consistent fabric quality for durable and reliable woven
                                    bags.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images/infrasturcture/Rotogravure8stationprinting.jpg"
                                alt="Rotogravure 8 station printing" class="img-fluid">
                            <div class="project-content">
                                <h4>Rotogravure 8 station printing</h4>
                                <p>A Rotogravure 8 Station Printing Machine delivers high-quality, multi-color printing
                                    on packaging materials, ideal for detailed designs and large production runs with
                                    precise color registration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images/infrasturcture/Slitingandrewindingmachine.jpg"
                                alt="Sliting and rewinding machine" class="img-fluid">
                            <div class="project-content">
                                <h4>Sliting and rewinding machine</h4>
                                <p>A Slitting and Rewinding Machine cuts large rolls of film into narrower widths,
                                    rewinding them for easy handling and storage, ensuring efficiency in packaging
                                    operations</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images\infrasturcture\Solventlaminationmachine.jpg"
                                alt="Solvent lamination machine" class="img-fluid">
                            <div class="project-content">
                                <h4>Solvent lamination machine</h4>
                                <p>A Solvent Lamination Machine bonds layers of packaging materials using solvent-based
                                    adhesives, enhancing strength and barrier properties for improved product
                                    protection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 ">
                        <div class="single-project">
                            <img src="images\infrasturcture\tapeline.jpg" alt="Tape Line" class="img-fluid">
                            <div class="project-content">
                                <h4>Tape Line</h4>
                                <p>A Tape Line Machine produces polypropylene tapes for weaving, ensuring strong,
                                    durable materials essential for high-quality woven packaging solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
</section>