<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">Innovation and Quality are Woven into Our Fabric.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white">We continuously invest in cutting-edge technology and staff training to
                    provide innovative packaging solutions. Our commitment to quality ensures that you receive products
                    that are durable, reliable, and tailored to your needs. </p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <a href="products.html"></a><img src="images/blog/rice-bags.jpg" alt="" class="img-fluid"></a>
                    <div class="project-content">
                        <a href="products.html">
                            <h4>Products</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi
                            consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 ">
                <div class="single-project">
                    <a href="manufacturing.html"><img src="images/blog/infrastructure.jpg" alt="" class="img-fluid"></a>
                    <div class="project-content">
                        <a href="manufacturing.html">
                            <h4>Infrastructure</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi
                            consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <a href="about.html"><img src="images/blog/management.jpg" alt="" class="img-fluid"></a>
                    <div class="project-content">
                        <a href="about.html">
                            <h4>About Us</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi
                            consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>