<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->
<div class="d-none d-lg-block" style="background-color: #333333;padding: 0px 100px;">
  <div class="row align-items-center">

    <div class="col-lg-6 col-md-6">
      <div class="top-bar-left text-white text-md-left text-sm-center">
        <i class="fas fa-map-marker-alt"></i>
        <a href="https://www.google.com/maps/place/Sakhi+Industries+(TARKO)/@21.1122476,78.9950842,17z/data=!3m1!4b1!4m6!3m5!1s0x3bd4ea9712660f91:0x73dc81d95bba124d!8m2!3d21.1122476!4d78.9976591!16s%2Fg%2F11cn0wn4jz?entry=ttu&g_ep=EgoyMDI0MTAxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" style="color: inherit; text-decoration: none;">
          <span class="ml-2">J9,10,11/1, near PIX transmission, Midc, Hingna, Nagpur - 440016</span>
        </a>
      </div>
    </div>
    <div class="col-lg-4 ml-lg-auto col-md-6">
      <ul class="list-inline list-unstyled header-socials text-md-right text-sm-center">
        <li class="list-inline-item"><a aria-label="Chat on WhatsApp" href="https://wa.me/9850066233"><i class="fab fa-whatsapp"></i></a></li>
        <!-- <li class="list-inline-item"><a href="#!"> <i class="fab fa-facebook-f"></i></a></li> -->
        <!-- <li class="list-inline-item"><a href="https://www.linkedin.com/company/ganpati-woven-polypack/"> <i class="fab fa-linkedin"></i></a></li> -->
      </ul>
    </div>
  </div>
</div>
</div>
<div class="logo-bar d-none d-md-block d-lg-block bg-light nav-links">
  <div class="header-container">
    <div class="row">
      <div class="col-lg-2 d-none d-lg-block">
        <div class="d-none d-lg-block ">
          <!-- Brand -->
          <a class="navbar-brand js-scroll-trigger" href="/">
            <img src="images/icon/logo.png" alt="Tarko" class="img-fluid logo-img">
          </a>
        </div>
      </div>

      <div class="col-lg-8 justify-content-end ml-lg-auto d-flex col-12" style="align-items: center;">
        <div class="top-info-block d-inline-flex">
          <div class="icon-block d-flex align-items-center">
            <i class="fa fa-phone"></i>
          </div>
          <div class="info-block">
            <h5 class="font-weight-500">
              <a href="tel:9850066233">9850066233</a><br>
              <!-- <a href="tel:9552041830" style="text-decoration: none; color: inherit;">9552041830</a> -->
            </h5>
            <a href="tel:9850066233">Call Us</a>
          </div>
        </div>

        <div class="top-info-block d-inline-flex">
          <div class="icon-block">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="info-block">
            <h5 class="font-weight-500">
              <a href="mailto:info@sakhiindustries.com">info@sakhiindustries.com</a>
            </h5>
            <a href="mailto:info@sakhiindustries.com">Email Us</a>
          </div>
        </div>
        <div class="top-info-block d-inline-flex">
          <div class="icon-block">
            <i class="far fa-calendar"></i>
          </div>
          <div class="info-block">
            <h5 class="font-weight-500">
              <a href="https://www.google.com/maps/place/Sakhi+Industries+(TARKO)/@21.1122476,78.9950842,17z/data=!3m1!4b1!4m6!3m5!1s0x3bd4ea9712660f91:0x73dc81d95bba124d!8m2!3d21.1122476!4d78.9976591!16s%2Fg%2F11cn0wn4jz?entry=ttu&g_ep=EgoyMDI0MTAxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Mon-Fri 9:00-7.00 </a>
            </h5>
            <a href="https://www.google.com/maps/place/Sakhi+Industries+(TARKO)/@21.1122476,78.9950842,17z/data=!3m1!4b1!4m6!3m5!1s0x3bd4ea9712660f91:0x73dc81d95bba124d!8m2!3d21.1122476!4d78.9976591!16s%2Fg%2F11cn0wn4jz?entry=ttu&g_ep=EgoyMDI0MTAxMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              <span>Visit Us</span>
            </a>
            <!-- <p>Visit Us</p> -->
          </div>
        </div>
        <div class="top-info-block d-inline-flex align-items-center">
          <div class="icon-block">
            <i class="far fa-regular fa-address-card"></i>
          </div>
          <div class="info-block">
            <h5 class="font-weight-500">GST: 27ACWFS0963N1Z5</h5>
              <span>GST Information</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NAVBAR
    ================================================= -->


    <div class="main-navigation menu-2" id="mainmenu-area">
      <div class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav navbar-togglable">
    
          <div class="nav-small">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand d-flex justify-content-center w-100" href="index.html">
              <img src="images/icon/logo-white.png" alt="Tarko" class="img-fluid logo-img-small mx-auto">
            </a>
    
          </div>

    
          <!-- Collapse -->
          <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="about.html" class="nav-link js-scroll-trigger">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a href="products.html" class="nav-link js-scroll-trigger">
                  Products
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="service.html" class="nav-link js-scroll-trigger">
                  Services
                </a>
              </li> -->
              <li class="nav-item">
                <a href="manufacturing.html" class="nav-link js-scroll-trigger">
                  Infrastructure
                </a>
              </li>
              <li class="nav-item">
                <a href="contact.html" class="nav-link">
                  Contact
                </a>
              </li>
            </ul>
          </div> <!-- / .navbar-collapse -->
        </nav>
      </div> <!-- / .container -->
    </div>
    
