<!-- <section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">Innovation and Quality are Woven into Our Fabric.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white">We continuously invest in cutting-edge technology and staff training to
                    provide innovative packaging solutions. Our commitment to quality ensures that you receive products
                    that are durable, reliable, and tailored to your needs. </p>
            </div>
        </div>
    </div>
</section> -->

<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">Why Choose Tarko?</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white">
                    • Equipped with the best and latest machines: Tape plant, Looms, Lamination, Flexo & BOPP Printing, BCS, Lab.<br>
                    • High inventory capacity, reducing the working capital burden on customers.<br>
                    • A highly qualified and experienced team dedicated to excellence.<br>
                    • Ample scope for expansion with sufficient land for additional sheds and machines.<br>
                    • Centrally located on NH-7 near Nagpur ICD, enabling fast deliveries across India and abroad with the shortest possible lead time.
                </p>
            </div>
        </div>
    </div>
</section>


<!-- <section id="projects" class="section-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="images/projects/p-1.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: onepage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="images/projects/p-4.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: business</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 ">
                <div class="single-project">
                    <img src="images/projects/p-3.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project : Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur
                            veniam quod</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="single-project">
                    <img src="images/bg/banner_bg.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div class="project-content-block">
                    <h4>Do you know who we are?</h4>
                    <h2>More than just service your products...</h2>
                    <p>Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
                        we will give you a complete account of the system.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->


