<section id="about" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="img-block">
                    <img src="images/blog-lg-4.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 pt-6 col-md-12">
                <div class="row justy-content-center">
                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                 <i class="ti-thumb-up"></i>
                            </div>
                            <h4 class="mb-2">Expert Packaging Solutions</h4>
                            <p>Our team specializes in delivering tailored, high-quality woven packaging for your business.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                               <i class="ti-cup"></i>
                            </div>
                            <h4 class="mb-2">Recognised for excellence</h4>
                            <p>We’re proud to be recognized for our commitment to top-tier quality and customer satisfaction.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-wallet"></i>
                            </div>
                            <h4 class="mb-2">Compare the best</h4>
                            <p>We offer only the finest packaging solutions, using market-leading materials and technology.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-dashboard"></i>
                            </div>
                            <h4 class="mb-2">Trusted by leaders</h4>
                            <p>Partnering with top industries, we deliver consistent, high-quality woven packaging.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>