<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            Our Services
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            Discover how our cutting-edge manufacturing techniques result in high-quality woven polypacks that meet your specific needs.
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-light-bulb"></i>
                        <h3>Advanced Machinery</h3>
                        <p>Equipped with modern machines for superior quality and efficiency .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-desktop"></i>
                        <h3>Large Inventory</h3>
                        <p>High inventory capacity reduces customers' working capital needs .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Expert Team</h3>
                        <p>Skilled and experienced team dedicated to delivering excellence .</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Expansion Ready</h3>
                        <p>Ample land available for future expansion and increased capacity .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>Prime Location</h3>
                        <p>Located on NH-7 near Nagpur ICD for quick, efficient deliveries .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Customer-Focused</h3>
                        <p>Offering tailored solutions to meet diverse customer requirements efficiently .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>