<section id="about" class="section about-2 bg-grey">
    <p class="section-title text-center">Our Sustainability Commitment</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="img-block d-flex align-items-center justify-content-center solar-panel">
                    <img src="images/sustainability/beads.png" alt="Reducing Carbon Footprint"
                        class="img-fluid rounded ">
                </div>
            </div>
            <div class="col-lg-8 pt-6 col-md-12">
                <div class="row justy-content-center">
                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-bag"></i>
                            </div>
                            <h4 class="mb-2">Recycled Polypropylene (RPP)</h4>
                            <p>Our packaging incorporates recycled polypropylene, including innovative PP produced
                                through chemical recycling.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-shine"></i>
                            </div>
                            <h4 class="mb-2">Reducing Carbon Footprint</h4>
                            <p>By optimizing our processes and implementing eco-friendly technologies, we are actively
                                reducing our carbon footprint and helping to combat climate change.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-money"></i>
                            </div>
                            <h4 class="mb-2">Energy Efficiency</h4>
                            <p>Our state-of-the-art energy-efficient manufacturing facilities use less power while
                                delivering high-quality products, making a positive impact on the environment.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-cloud"></i>
                            </div>
                            <h4 class="mb-2">Water Conservation</h4>
                            <p>We implement stringent water conservation measures to reduce our water footprint and
                                protect water resources.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>