<section class="section" id="section-testimonial">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="section-heading testimonial-heading">
                    <h1>Our Management<br>Team</h1>
                    <p>Our management team is exceptionally strong, consistently guiding the organization with vision, strategic insight, 
                        and a commitment to excellence. Their expertise and decision-making abilities drive innovation, empower teams, and foster a 
                        culture of growth and success across all levels.</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/management/vedanshu.jpg" alt="Management" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Ashish Sachdev</h4>
                                    <h6>Managing Director</h6>
                                </div>
                            </div>

                            Visionary leader driving strategic growth and operational excellence as Managing Director. 

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/management/rahul.jpg" alt="Management" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Rahul Goel</h4>
                                    <h6>Managing Director</h6>
                                </div>
                            </div>

                            Dynamic Managing Director with a sharp focus on innovation and sustainable business success. 

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>